# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js
/.next/
/out/
next-env.d.ts
tsconfig.tsbuildinfo

# Build
/build
/dist

# Misc
.DS_Store
*.pem
capture/
frames/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Data local (remplacé par Supabase en production)
data/*.json
